:root{
    --dark-color:#3426a4;
    --light-color:#f5c7f7;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.top-container{
    background: linear-gradient(to right bottom, var(--dark-color),var(--light-color));
    height: 450px;
    text-align: center;
    
}
.top-wrapper{
    width: 600px;
    height:450px;
    margin:0 auto;
    position:relative;
}
.cloud{
    position: absolute;
}
.mountain{
    position:absolute;
    bottom: 0;
    left: 0;
}
.cloud1{
    left: 10%;
    top: 20%;
}
.cloud2{
    right: 15%;
    top: 8%;
}
h1{
    font-family: 'Liu Jian Mao Cao', cursive;
}
.underlined{
    text-decoration: underline;
}
.profile{
    width: 800px;
    margin: 3rem auto;
    text-align: center;
}
.profile_image{
    width: 150px;
}
.middle-container{
    width: 800px;
    margin: 2rem auto;
}